html, body {
    margin: 0;
    padding: 0;
}

.holder {
    float: left;
    margin: 30px;
}

.doc {
    width: 400px;
}

.diff {
    width: 300px;
}

.diffHighlight del {
    background:#ffe6e6;
}

.diffHighlight ins {
    background:#e6ffe6;
}